.web-body {
  background-color: #808080;
  height: 760px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.penguin-title {
  font-family: courier, monospace;
  min-height: 100px;
  font-size: 80px;
  color: white;
}

.penguin-image {
}

.web-description {
  font-family: courier, monospace;
  font-size: 40px;
  color: white;
}

.input-name {
  margin-bottom: 20px;
}

.penguin-button {
}

.complimentary-text {
}
